- provide(:title, 'Notes')
%h1 Listing notes

.row
  %aside.col-md-4
    = link_to 'New Note', new_note_path

.col-md-8
  %asd
    - if @notes.any?
      %h3
        Notes (#{@notes.count})
      %ul.notes
        - @notes.each do |note|
          = render partial: 'note', locals: { note: note }
          = link_to 'Show', note
          = link_to 'Edit', edit_note_path(note)
          = link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }
      = will_paginate
