- provide(:title, 'Listing')
.center
  %h1 Listing notes

.row
  = link_to new_note_path, class: 'btn btn-default btn-lg' do
    %i.glyphicon.glyphicon-plus-sign New Note

.col-md-8
  %asd
    - if @notes.any?
      %h3
        Notes (#{@notes.count})
      %ul.notes
        - @notes.each do |note|
          = render partial: 'note', locals: { note: note }
          = link_to 'Show', note
          = link_to 'Edit', edit_note_path(note)
          = link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }
      = will_paginate
